.bloco {
    width: 300px;
    height: 80px;
    margin-bottom: 7px; 
}

main{
    font-family: Helvetica;
    color: white;
}

#bloco-1 {
    background-color: rgb(233, 161, 27);
    border: 7px solid rgb(219, 182, 114);
}
#bloco-2 {
    background-color: rgba(30, 110, 44, 0.753);
    border: 7px solid rgb(95, 131, 101);
}
#bloco-3 {
    background-color: rgb(18, 75, 20);
    border: 7px dashed rgb(95, 131, 101);
}
#bloco-4 {
    background-color: rgb(206, 53, 7);
    border: 7px dashed rgb(236, 137, 113);
}